*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	/*outline: 1px solid red !important;*/
}
/*body {
	
    
	height: 1000px;

	background: -webkit-linear-gradient(90deg, #FFFFFF 24%, #0E69A0 83%);
}*/
.tabs, .links {
		display: flex;

}
.se{
	position: absolute;
	width: 100%;
	height: 50%;
	top: 27%;
	left: 33%;
	
}
.tabs img {
	width: 	99%;
}
.Logo {
	margin-top: 12px;
	margin-right: 10px;
	margin-left: 3px;
	height: 37px;
}
.Searchbox {
	background-color: white;
	position: relative;
	height: 250px;
}
.searchbox{
	position: relative;
	width: 70%;
	height: 48%;
	top: 27%;
	left: 15%;
	border-radius: 10px;
	box-shadow:2px 2px 30px 8px rgba(0,0,0,0.5);
}
.boxone {
	background-color: #F8F8F8;
	height: 150px;
}
.boxone img {
	position: relative;
	height: 50%;
	left: 35%;
	margin-top: 3%;
}
.links {
	top: 3%;
}
.links img {
	margin-top: 2%;
	left: 8%;
	margin-left: 90%;
}
.links img:hover {
	cursor: pointer;
}
h3 {
	position: relative;
	font-family: Helvetica;
	font-size: 30px;
	color: #097B7D;
	margin: 0;
	width: 15%;
	margin-right: 0px;
}
.description img {
	position: relative;
	width: 40%;
	height: 40%;
	left: 30%;
	top: 10%;
	margin-top: 5%;
	border: 2px solid black;
	border-radius: 3px;
}
ul {
	position: relative;

	width: 70%;
	left: 15%;
	top: 15%;
}
li {
		font-family: Helvetica;
	font-size: 25px;
	color: #097B7D;
}
/*.box2 {
	position: relative;
	width: 90%;
	top: 7%;
	left: 4%;
	height: 40%;

}
.categories {
	position: relative;

	width: 42%;
	height: 90%;
	top: 10%;
	margin-left: 2%;
	margin-bottom: 8%;
}
.categories img {
	width: 100%;
	height: inherit;
}
p {
	margin: 0;
	font-family: Helvetica;
	font-size: 20px;
	color: #097B7D;
	text-align: center;
	margin-top: 1%;
}*/
.copyright img {
	width: 100%;

}
